@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

/* HEADER */

header {
  background-color: #38af90;
  width: 1200px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px #000;
}

.nav-container {
  width: 990px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-container h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.nav-menu-content {
  display: flex;
}

.nav-menu-content ul {
  width: 334px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-menu-content ul li {
  margin-right: 29px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.nav-menu-content ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
}

.nav-menu-content ul li img {
  width: 62px;
  height: 62px;
}

/* MAIN */

main {
  width: 1200px;
  margin: 0 auto;
}

.notices-container {
  height: 831px;
  background-color: #fff;
  margin-top: 3px;
  display: flex;
  justify-content: center;
}

.notices-content-container {
  width: 100%;
  padding: 40px 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notices-content-container h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #797979;
}

.card-notice {
  width: 990px;
  height: 247px;
  margin-top: 40px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  padding: 15px 40px;
}

.card-notice h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #38af90;
}

.card-notice h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #797979;
  border-bottom: 1px solid #38af90;
}

.date {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #38af90;
}

.card-notice-content {
  margin-top: 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #797979;
}

.read-more {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #dd7e92;
  margin-top: 7px;
}

.btn {
  width: 244px;
  height: 67px;
  background: #dd7e92;
  border-radius: 8px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  border: none;
}

.games-container {
  width: 1200px;
  height: 559px;
  background-color: #f0f0f0;
}

.games-content-container {
  width: 1200px;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
}

.games-content-container h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #38af90;
  padding: 36px 0 73px 0;
}

.game-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-game {
  width: 300px;
  height: 326px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.card-img,
.card-img img {
  height: 168.54px;
  width: 300px;
  border-radius: 8px 8px 0 0;
}

.card-game-info {
  height: 157.46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 27px 0 15px 0;
}

.game-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #797979;
}

.game-title h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.game-title h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.game-title h6 strong {
  color: #38af90;
  font-size: 14px;
}

.rating {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #38af90;
}

/* Subscription */

.subscription-container {
  height: 716px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscription-container h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #797979;
  margin-bottom: 40px;
}

.subscription-content-container {
  width: 790px;
  height: 522px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 52px 74px;
}

.form-container input {
  width: 642px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #797979;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}

.form-container input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #c4c4c4;
  font-family: "Poppins";
  padding: 13px 490px 13px 22px;
}

.subscription-form-plataform {
  width: 100%;
  height: 118px;
  display: block;
}

.plataform-selection {
  display: flex;
  flex-direction: column;
}

.plataform-selection div {
  display: flex;
  align-items: center;
  /*  margin: 4px; */
}

.plataform-selection input {
  width: 23px;
  height: 23px;
  margin: 4px 7px 4px 0;
}

.subscription-form-plataform label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #797979;
}

.news-field-container {
  width: 790px;
  padding: 30px 74px 0;
}

.news-field {
  width: 245px;
  height: 24px;
  display: flex;
  justify-items: center;
  justify-content: flex-start;
}

.news-field input {
  width: 23px;
  height: 23px;
  margin-right: 9px;
}

.news-field label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #797979;
}

.form-buttons {
  width: 540px;
  display: flex;
  justify-content: space-between;
}

.btn-clean {
  width: 244px;
  height: 67px;
  background: #fff;
  border-radius: 8px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #dd7e92;
  border: none;
  border: 2px solid #dd7e92;
}

/* FOOTER */

.footer-container {
  width: 1200px;
  height: 190px;
  background-color: #383838;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  width: 100%;
  padding: 84px 105px;
  display: flex;
  justify-content: space-between;
}

.footer-content-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content-links a,
.footer-content p {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
}