@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

/* HEADER */

header {
  background-color: #38af90;
  width: 1200px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px #000;
}

.nav-container {
  width: 990px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-container h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.nav-menu-content {
  display: flex;
}

.nav-menu-content ul {
  width: 334px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-menu-content ul li {
  margin-right: 29px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.nav-menu-content ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
}

.nav-menu-content ul li img {
  width: 62px;
  height: 62px;
}

/* MAIN */

main {
    width: 1200px;
    margin: 0 auto;
}

.notices-container {
  /* width: 1200px; */
  height: 831px;
  background-color: #fff;
  margin-top: 3px;
  display: flex;
  justify-content: center;
}

.notices-content-container {
  width: 100%;
  padding: 40px 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notices-content-container h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #797979;
}

.card-notice {
  width: 990px;
  height: 247px;
  margin-top: 40px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  padding: 15px 40px;
}

.card-notice h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #38af90;
}

.card-notice h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #797979;
  border-bottom: 1px solid #38af90;
}

.date {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #38af90;
}

.card-notice-content {
  margin-top: 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #797979;
}

.read-more {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #dd7e92;
}

.btn {
  width: 244px;
  height: 67px;
  background: #dd7e92;
  border-radius: 8px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  border: none;
}

.games-container {
    width: 100%;
    height: 559px;
    background-color: #F0F0F0;
}
