@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --light-green: #38af90;
  --light-pink: #dd7e92;
  --light-gray: #f0f0f0;
  --light-medium-gray: #c4c4c4;
  --gray: #797979;
  --dark-gray: #383838;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

/* HEADER */

.header-container {
  height: 88px;
  background-color: var(--light-green);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.nav-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}

.nav-container h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--white);
}

.nav-menu-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.nav-menu-content ul {
  display: flex;
  align-items: center;
  display: none;
}

.nav-menu-content ul li {
  list-style: none;
}

.nav-menu-content ul li a {
  text-decoration: none;
  list-style: none;
  color: var(--white);
}

.nav-menu-content img {
  width: 62px;
  height: 62px;
}

/* MAIN SECTIONS*/

.notices-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.notices-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notices-content-container h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: var(--gray);
  padding-top: 40px;
  margin-bottom: 8px;
}

.notices-content {
  padding: 10px;
}

.card-notice {
  background-color: var(--light-gray);
  padding: 16px 12px 12px;
  border-radius: 8px;
  margin-bottom: 28px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  width: auto;
}

.card-notice h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-green);
}

.card-notice h4 {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: var(--gray);
  border-bottom: 1px solid var(--light-green);
}

.date {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: var(--light-green);
  margin-top: 3px;
}

.card-notice-content {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: var(--gray);
}

.read-more {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-pink);
  margin-top: 10px;
}

.btn {
  font-family: "Poppins";
  font-style: normal;
  width: 244px;
  height: 67px;
  background: var(--light-pink);
  border-radius: 8px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--white);
  border: none;
}

/* SECTION GAMES */

.games-container {
  height: auto;
  background-color: var(--light-gray);
}

.games-content-container {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.games-content-container h2 {
  font-weight: 700;
  font-size: 27px;
  line-height: 36px;
  text-align: center;
  color: var(--light-green);
  padding: 40px 0 28px 0;
}

.game-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-game {
  width: 300px;
  height: 326px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 27px;
}

.card-img,
.card-img img {
  height: 168.54px;
  width: 300px;
  border-radius: 8px 8px 0 0;
}

.card-game-info {
  height: 157.46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 27px 0 15px 0;
}

.game-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--gray);
}

.game-title h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.game-title h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.game-title h6 strong {
  color: var(--light-green);
  font-size: 14px;
}

.rating {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #38af90;
}

/* FORM SECTION */

.subscription-container h2 {
  text-align: center;
  padding-top: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--gray);
}

.subscription-content-container {
  background-color: var(--light-gray);
  margin: 0 12px 40px;
  padding: 52px 8px 0;
  border-radius: 8px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--gray);
  height: 50px;
  margin-bottom: 20px;
}

.form-inputs input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: var(--light-medium-gray);
  padding: 13px 30px;
}

.subscription-form-plataform {
  color: var(--gray);
  font-size: 16px;
  line-height: 24px;
}

.plataform-selection {
  display: flex;
  flex-direction: column;
}

.plataform-selection div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.plataform-selection input {
  width: 23px;
  height: 23px;
  margin-right: 7px;
  margin-bottom: 8px;
}

.news-field-container {
  margin: 28px 0 47px 0;
  display: flex;
}

.news-field {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-field input {
  margin-bottom: 0;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-bottom: 20px;
}

.btn-clean {
  width: 244px;
  height: 67px;
  background: var(--white);
  border: 2px solid var(--light-pink);
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: var(--light-pink);
  margin-bottom: 33px;
}

/* FOOTER */

.footer-container {
  background-color: var(--dark-gray);
  height: 302px;
}

.footer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 29px 0 29px 0;
}

.footer-content-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.footer-content-links a {
  text-decoration: none;
  color: var(--white);
}


